<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553183446440-k23a1lun1kjfi07rca06o6c8u7blfbo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553183446440-k23a1lun1kjfi07rca06o6c8u7blfbo3</string>
	<key>API_KEY</key>
	<string>AIzaSyCqluVYSrWTT6DvnJrDzz3pSqafhKnW2Oo</string>
	<key>GCM_SENDER_ID</key>
	<string>553183446440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.comstudy.myapp.GreatVoyageTodolist</string>
	<key>PROJECT_ID</key>
	<string>crewtodolist-13b9c</string>
	<key>STORAGE_BUCKET</key>
	<string>crewtodolist-13b9c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553183446440:ios:5a6e9894b8e81d5561099d</string>
</dict>
</plist>